<mat-form-field>
    <mat-label>Leave a comment</mat-label>
    <textarea matInput [(ngModel)]="textToAnalyze" (input)="analyzeText()" placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field>
<br/><br/>
<table>
    <tr>
        <td>Number of characters:</td>
        <td>{{result.numberOfChars}}</td>
    </tr>
    <tr>
        <td>Number of unique characters:</td>
        <td>{{result.numberOfUniqueChars}}</td>
    </tr>
    <tr>
        <td>Unique characters:</td>
        <td><span *ngFor="let uniqueChar of result.uniqueChars">{{uniqueChar}} </span></td>
    </tr>
    <tr>
        <td>Unique chunks:</td>
        <td><span *ngFor="let uniqueChunk of result.uniqueChunks">{{uniqueChunk}} </span></td>
    </tr>
</table>

Frequency: <br/>
<app-frequency-analysis [textToAnalyze]="textToAnalyze" (uniqueChunksEvent)="updateUniqueChunks($event)"></app-frequency-analysis>